In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

# Derecho Storm 911 Calls

In [2]:
derecho_911 = pd.read_csv('../data/derecho_911_calls.csv')
derecho_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [3]:
derecho_911.columns =['date_time', 'call_type', 'lat', 'lng', 'cell_tower_address']
derecho_911.head()

        date_time  call_type        lat        lng     cell_tower_address
0  5/3/2020 16:30  911 Calls  36.247802 -86.716847        WIRELESS CALLER
1  5/3/2020 16:30  911 Calls  36.143108 -86.800621    1161 21ST AV S - SE
2  5/3/2020 16:30  911 Calls  36.100516 -87.056329  8013 C MCCRORY LN - N
3  5/3/2020 16:30  911 Calls  36.130021 -86.927819     5758 RIVER RD - SW
4  5/3/2020 16:31  911 Calls  36.142380 -86.881882   3744B ANNEX AVE - SE

In [4]:
derecho_911.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_time           1549 non-null   object
 1   call_type           1549 non-null   object
 2   lat                 1483 non-null   float64
 3   lng                 1483 non-null   float64
 4   cell_tower_address  1525 non-null   object
dtypes: float64(2), object(3)
memory usage: 60.6+ KB

In [5]:
derecho_911['call_type'].value_counts()
#all rows are 911 calls

911 Calls    1549
Name: call_type, dtype: int64

# Tornado Storm 911 Calls

In [6]:
tornado_911 = pd.read_csv('../data/tornado_911_calls.csv')
tornado_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N

In [7]:
tornado_911.columns = ['date_time', 'call_type', 'lat', 'lng', 'cell_tower_address']
tornado_911.head()

       date_time  call_type        lat        lng          cell_tower_address
0  3/3/2020 0:34  911 Calls  36.072708 -86.665779  620 Richards RD - N Sector
1  3/3/2020 0:36  911 Calls  36.159634 -86.841904      4507D KENTUCKY AV - SE
2  3/3/2020 0:36  911 Calls  36.264153 -86.708862    329 THELMA ST - S Sector
3  3/3/2020 0:36  911 Calls        NaN        NaN              526 FOUNDRY DR
4  3/3/2020 0:36  911 Calls  36.233467 -86.721077        5007B RUSKIN AVE - N

In [8]:
tornado_911.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_time           475 non-null    object
 1   call_type           475 non-null    object
 2   lat                 450 non-null    float64
 3   lng                 450 non-null    float64
 4   cell_tower_address  468 non-null    object
dtypes: float64(2), object(3)
memory usage: 18.7+ KB

In [9]:
tornado_911['call_type'].value_counts()
#all rows are 911 calls

911 Calls    475
Name: call_type, dtype: int64

# Derecho Computer Dispatch

In [10]:
derecho_comp_dispatch = pd.read_csv('../data/derecho_comp_dispatch.csv')
derecho_comp_dispatch.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [11]:
derecho_comp_dispatch.columns = ['date_time', 'loc', 'lat', 'lng', 'incident_description']
derecho_comp_dispatch.head()

,date_time,loc,lat,lng,incident_description
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [12]:
derecho_comp_dispatch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date_time             627 non-null    object
 1   loc                   627 non-null    object
 2   lat                   627 non-null    float64
 3   lng                   627 non-null    float64
 4   incident_description  627 non-null    object
dtypes: float64(2), object(3)
memory usage: 24.6+ KB

# Tornado Computer Dispatch

In [13]:
tornado_comp_dispatch = pd.read_csv('../data/tornado_comp_dispatch.csv')
tornado_comp_dispatch.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [14]:
tornado_comp_dispatch.columns = ['date_time', 'loc', 'lat', 'lng', 'incident_description']
tornado_comp_dispatch.head()

,date_time,loc,lat,lng,incident_description
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [15]:
tornado_comp_dispatch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date_time             260 non-null    object
 1   loc                   260 non-null    object
 2   lat                   260 non-null    float64
 3   lng                   260 non-null    float64
 4   incident_description  260 non-null    object
dtypes: float64(2), object(3)
memory usage: 10.3+ KB

In [21]:
tornado_911.to_csv(r'../data/tornado_911_clean.csv', index = False)

In [17]:
tornado_comp_dispatch.to_csv(r'../data/tornado_comp_dispatch_clean.csv', index = False)

In [18]:
derecho_911.to_csv(r'../data/derecho_911_calls_clean.csv', index = False)

In [19]:
derecho_comp_dispatch.to_csv(r'../data/derecho_comp_dispatch_clean.csv', index = False)